<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Received Data</title>
</head>
<body>
    <h1>Received Data form Hunchha Digital Hik Device</h1>
    <pre><%= data %></pre>
</body>
</html>
